/* login */
#login .modal-container {
   min-width: 380px;
}

.modal-logo {
   width: 145px;
   margin-bottom: 20px;
}

.modal-logo.primary-logo-small {
   width: 100px;
}

#login .error-notice {
   margin: 0;
   color: var(--red);
}

#login .error-notice:empty {
   display: none;
}

#login input {
   border-radius: 4px;
   padding: 6px 8px 8px 30px;
   width: calc(100% - 20px);
   margin: 20px auto;
   border: 1px solid #d0dbec;
   font-family: "Outfit", "Poppins";
   font-size: 1.2rem;
   color: var(--primary);
   box-shadow: 2px 1px 5px #b3d0fc;
   background: #fff;
   max-width: 400px;
   box-sizing: border-box;
}

#login input:focus,
#login-submit:focus {
   outline: 0;
   border: 2px dashed var(--primary);
}

#login-submit.loading:before {
   content: "\f110";
}

.login-field {
   position: relative;
}

.login-field .icon {
   position: absolute;
   left: 8px;
   top: 23px;
   font-size: 1.4rem;
   color: var(--secondary);
   opacity: 0.3;
}

.login-field input {
   border: 1px solid #ccc;
   border-radius: 4px;
   padding: 2px 8px 2px 30px;
   width: 300px;
}

#login-submit {
   background: var(--primary);
   color: #fff;
   border-radius: 30px;
   padding: 7px 25px;
}
